$blue: #0c70f2;
$dark: #2d2d2d;
$font-poppins: "Poppins", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-25px: clamp(1rem, 0.8393rem + 0.8036vw, 1.5625rem);
$font-34px: clamp(1.125rem, 0.8393rem + 1.4286vw, 2.125rem);
