@use "variables" as *;

.header {
  display: flex;
  align-items: center;
  background-color: $blue;
  font-family: $font-poppins;
  color: white;
  font-size: $font-25px;
  padding: 30px 0 4px clamp(1.25rem, 0.5357rem + 3.5714vw, 3.75rem);

  h6 {
    margin-right: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
    cursor: pointer;
    font-size: $font-25px;
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 7px 20px 5px 20px;
  }
  a.active,
  a:hover {
    border: none;
    color: $blue;
    background-color: white;
    font-size: $font-25px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: 0.3s;
  }
  .muiSwitch .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: $orange;
  }

  .muiSwitch
    .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
    + .MuiSwitch-track {
    background-color: #fff;
    opacity: 1;
  }
}
